.toolbar-custom {
  bottom: 0;
  position: fixed;
  color: #606468;
  font-size: 40px;
  width: 100%;
  left: 0; }
  .toolbar-custom .row .home-option {
    margin-bottom: 20px; }
  .toolbar-custom .row .add-product-option {
    margin-bottom: 20px; }
  .toolbar-custom .row .finish-option {
    margin-bottom: 20px; }
  .toolbar-custom .row .test-settings-option {
    margin-bottom: 20px; }
  .toolbar-custom .row .description {
    margin-top: -13px;
    font-size: 10px;
    margin-bottom: 0; }
