.toolbar-custom{
  bottom: 0;
  position: fixed;
  color: #606468;
  font-size: 40px;
  //height: 100%;
  width: 100%;
  left:0;

  //options
  .row{
    //margin: 100px auto;

    .home-option{
      margin-bottom: 20px;

    }

    .add-product-option{
      margin-bottom: 20px;
    }

    .finish-option{
      margin-bottom: 20px;
    }

    .reset-option{

    }

    .test-settings-option{
      margin-bottom: 20px;
    }

    .description{
      margin-top: -13px;
      font-size: 10px;
      margin-bottom: 0;
    }

  }

}